.columnsContainer {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
}

.column {
  border: 1px solid #eee;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-left: 16px;
  padding-right: 16px;
}

.column h5 {
  text-align: center;
  width: 100%;
}
